:root {
    --grid-size: '';
}

body{
    background-color: #B9DCD2 ;
}
button{
    width: 620px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border-width: 0;
    border-radius: 50px;
    font-family: 'Gill Sans', Arial, sans-serif;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
#container{
    display: grid;
    margin: auto;
    width: 600px;
    height: 600px;
    background-color: #d9d9d9;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
    border-style: solid;
    border-width: 10px;
    border-color: #D9D9D9;
    border-radius: 5px;
    padding: 1px;
}
#container.shakeit {
    animation: shake .7s;
    animation-iteration-count: 1;
}
#wide{
    text-align:center;
}
.clear{
    background-color: white;
}

.black{
    background-color: black;
}

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }